map51
.DS_Store
xcuserdata
xcshareddata
project.xcworkspace
*.ph[4567]
*.sh[4567]
*.neq
*.nfn
*.lam
*.bln
*.csv
*.o
lab/00ignore/
lab/00ignore
00Ignore
00ignore/
src/workcode/*.[co]
MAPPINGS.xcodeproj
*.jar
