.DS_Store
*.ph[4567]
*.sh[4567]
*.neq
*.nfn
*.lam
*.bln
*.o
lab/00ignore/
lab/00ignore
lab/map52*
bin/map52*
00Ignore
00ignore/
*.jar
#
# docs
#
# sphinx stuff
docs/sphinx/html/
docs/sphinx/doctrees/
docs/sphinx/venv/
# doxygen stuff
# doxygen_help
# doxygen_help/
mv_help_html
mv_help_html/
mv_code_html
mv_code_html/
mv_html
mv_html/
mv_latex
mv_latex/
docs/doxygen_drafting/index.html
docs/doxygen/index.html
#
red_html
lines_html
blur_html
red_html/
lines_html/
blur_html/
#
prepmv.sh
