.DS_Store
*.ph[4567]
*.sh[4567]
*.neq
*.nfn
*.lam
*.bln
*.o
lab/00ignore/
lab/00ignore
lab/map51*
lab/map52*
bin/map51*
bin/map52*
bin/lines
bin/red
bin/blur
00Ignore
00ignore/
*.jar
# sphinx stuff
docs/sphinx/html/
docs/sphinx/doctrees/
docs/sphinx/venv/
# doxygen stuff
doxygen_help
doxygen_help/
mv_help_html
mv_help_html/
mv_html
mv_html/
mv_latex
mv_latex/
red_html
lines_html
blur_html
red_html/
lines_html/
blur_html/
#
aux/blur/blur
aux/lines/lines
aux/lines/listlines
aux/red/red
